body{
    background-color: #12101d;
    color: #c2befd;
    text-align-last: center;
    font-size: 30px;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 15px;
    font-variant: small-caps;
    margin: 50px 0 40px 0;
    background-color: #000;
    display: inline-block;
    border-radius: 15px;
}
button{
    margin: 30px 20px 0 10px;
    background-color: #34287452;
    color: #fdbebe;
    height: 150px;
    width: 230px;
    font-size: 20px;
    border: none;
    transition-duration: 0.3s;
    border-radius: 8px;
}
button:hover{
    background-color: #332874af;
    color: #f39975;
}
button:active{
    background-color: #201652;
    color: #d2fdbe;
}
img{
    height: 140px;
    width: 200px;
}
#result{
    padding: 10px 20px;
    width:  max-content;
    background-color: #b7b92f4b;
}
//ok